h1 {
 margin-top: 60px;  
 margin-bottom: 30px;
 color: white;
 text-align: center;
}
#h5center {
    margin-bottom: 40px;
    color: white;
    text-align: center;
}
body {
   background-color: rgb(240, 86, 176);
}
p {
    color: white;
    margin-left:20px;
}
#cont {
    margin-left: 50px;
    margin-right: 50px;
}
#imgs {
    text-align: center;
}
#center {
    text-align: center;
}
#space {
    margin-left: 10px;
}
hr{
    width: 55px;
    
    color:rgba(167, 78, 122, 0.89); 
}

#row1 {
    margin-top: 50px;
    margin-bottom: 100px;
}
#row2 {
    margin-top: 200px;
    margin-bottom: 100px;
}
h5 {
    margin-left: 20px;
    color: white;
}
h6 {
    margin-left: 20px;
    color: rgba(219, 235, 78, 0.541);
}
